
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body{
    background-color: #e75b48;
    min-height: 100%;
}

#header
{
    background-color: black;
}
.premieresection
{
    background-color: rgb(212, 82, 82);
    display: flex;
    justify-content: space-between;
max-height: 25%;

    }

    .imagepremieresection
    {
       width: 30%; 
    }

    .textepremieresection{
        margin-left: 20px;
    }


button{
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 0px;
}

.deuxiemesection{

  padding:15%;
   max-height: 25%;
background-color: white;
display: flex;
justify-content:space-between
}

.imagedeuxiemesection{
  margin: 5%;
  width: 40%;
}



.textedeuxiemesection{
  margin:5%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.boutondeuxiemesection{
  margin-top: 5%;
}

.troisiemesection{
  padding:15%;
   max-height: 25%;
background-color: rgb(100, 98, 98)34, 120, 120);
display: flex;
justify-content:space-between
}

.imagetroisiemesection{
  margin: 5%;
  width: 40%;
}
.textetroisiemesction{
  margin:5%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

