body
{
    min-height: 100%;
}
#header
{
    background-color: black;
}
.premieresection
{
    background-color: rgb(212, 82, 82);
    display: flex;
    justify-content: space-between;
max-height: 25%;

    }

    .imagepremieresection
    {
       width: 30%; 
    }

    .textepremieresection{
        margin-left: 20px;
    }

button{
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 0px;
}


.deuxiemesection{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.imagedeuxiemesection
    {
       width: 20%; 
    }

.textedeuxiemesection{
  display: flex;
  flex-direction: column;
}
