.nav-wrapper{
  background-color: darkslategrey;
}
.btn{
  background-color: tomato;
}
.btn:hover{
  background-color: darkred;
}
.brand-logo img{
  max-height: 50px;
  margin: 8px;
}
.showcase{
  padding-top: 2rem;
  background-color: lightskyblue;
}
.showcase .hero{
  padding-top: 2rem;
}
.profit .text-wrapper{
  padding-top: 10rem;
}
.features{
  background-color: lightskyblue;
  padding: 2rem;
}
.features .text-wrapper.right-align{
  padding-top: 6rem;
}
.features .text-wrapper.left-align{
  padding-top: 3rem;
}
.form .btn{
  width: 100%;
}
.page-footer{
  background-color: darkslategrey;
}
.page-footer svg{
  fill: white;
  height: 35px;
}